[submodule "custom/client-go"]
	path = custom/client-go
	url = https://github.com/tgoodwin/client-go
[submodule "custom/controller-runtime"]
	path = custom/controller-runtime
	url = https://github.com/tgoodwin/controller-runtime
